.container.clear
  #content
    - @snippets.each do |snippet|
      article.article.article-snippet
        hgroup.article-header.clear
          h2.title
            = link_to snippet do
              = snippet.title
          p= link_to image_tag(snippet.user.gravatar_url(size: 48), alt: snippet.user.username, class: 'user-icon'), user_path(snippet.user)
        .article-content
          - cache snippet.cache_key_with_stars format: :html, signed_in: !!current_user do
            = render 'snippets/snippet', snippet: snippet
    = paginate @snippets
