<% if current_user %>
  <%= link_to new_snippet_path, class: 'add_new_snippet' do %>
    add
  <% end %>
<% end %>

<% @snippets.each do |snippet| %>
  <article class="snippet wrapper">
    <hgroup class="container">
      <h2 class="title"><%= link_to snippet do %><%= snippet.title %><% end %></h2>
    </hgroup>
    <div class="content">
      <ol>
        <%- snippet.messages.each do |message| -%>
          <li><%= raw Rinku.auto_link(h(message.raw_content), :all, 'target="_blank"') %></li>
        <%- end -%>
      </ol>
    </div>
  </article>
<% end %>
