= form_for(@snippet) do |f|
  - if @snippet.errors.any?
    .container
      h2
        = pluralize(@snippet.errors.count, "error")
        | &nbsp; prohibited this snippet from being saved:
      ul
        - @snippet.errors.full_messages.each do |msg|
          li= msg
  .container
    = f.text_field :title, class: 'input-text input-text-large', placeholder: 'Title (optional)'
    = text_area_tag :content, @content, id: 'content-textarea', class: 'textarea', placeholder: '00:00 YourName: Logged in...', required: true
  .container
    - if current_user.present? && current_user.organizations.present?
      .form-org-question.container
        | どの Organization の会話ですか??
      .form-org-radiobox.container
        - current_user.organizations.each do |organization|
          label
            = f.radio_button :organization_id, organization.id
            = organization.login
    .container
      - if current_user.present?
        = button_tag 'Public post!', name: 'commit', value: 'public', type: 'submit', class: 'btn btn-green'
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        | #{button_tag 'Secret post!', name: 'commit', value: 'secret', type: 'submit', class: 'btn btn-yellow'}
