<% if current_user.present? %>
<% else %>
  <p>u can't create a snippet unless logged in. <%= link_to "Sign in with GitHub", "/auth/github", 'data-no-turbolink' => true %></p>
<% end %>
<div id="snippet-form" class="wrapper">
  <%= render 'form' %>
</div>
