<% if current_user.present? %>
<% else %>
  <div class="notice section">
    <p>u can't create a snippet unless logged in. <%= link_to "Sign in with GitHub", "/auth/github", 'data-no-turbolink' => true %></p>
  </div>
<% end %>
<section class="section">
  <%= render 'form' %>
</section>
