<article class="snippet wrapper">
  <hgroup class="container">
    <img src="<%= @snippet.user.gravatar_url(size: 32) %>">
    <h2 class="title"><%= @snippet.title %></h2>
  </hgroup>
  <div class="content container">
    <ol>
      <%- @snippet.messages.each do |message| -%>
      <li class="nick_<%= @nick_nums[message.nick] %>"><%= message.content %></li>
      <%- end -%>
    </ol>
  </div>
</article>
