<article class="snippet wrapper">
  <hgroup class="container">
    <h2 class="title"><%= @snippet.title %></h2>
  </hgroup>
  <p class="user_icon"><%= link_to image_tag(@snippet.user.gravatar_url(size: 48), alt: @snippet.user.username), user_path(@snippet.user) %></p>
  <div class="content container">
    <%= render 'snippet', snippet: @snippet %>
  </div>
  <div class="embed_code">
    <%= text_field_tag "snippet_#{@snippet.published? ? @snippet.id : @snippet.hash_id}", '<script type="text/javascript" src="' + url_for(controller: 'api/snippets', action: 'show', id: (@snippet.published? ? @snippet.id : @snippet.hash_id), format: :js, only_path: false) + '"></script>', readonly: true, class: 'input-text' %>
  </div>
</article>
