<article class="section snippet">
  <h2 class="title"><%= @snippet.title %></h2>
  <div class="content">
    <ol>
      <%- @snippet.messages.each do |message| -%>
      <li class="nick_<%= @nick_nums[message.nick] %>"><%= message.content %></li>
      <%- end -%>
    </ol>
  </div>
</article>
