<article class="snippet wrapper">
  <hgroup class="container" style="background: url(<%= @snippet.user.gravatar_url(size: 48) %>) no-repeat top right">
    <h2 class="title"><%= @snippet.title %></h2>
  </hgroup>
  <div class="content container">
    <%= render 'snippet', snippet: @snippet %>
  </div>
  <div class="embed_code">
    <%= url_field_tag "snippet_#{@snippet.hash.blank? ? @snippet.id : @snippet.hash}", url_for(controller: 'api/snippets', action: 'show', id: (@snippet.hash.blank? ? @snippet.id : @snippet.hash), format: :js, only_path: false), readonly: true, class: 'input-text' %>
  </div>
</article>
