section.wrapper
  .signup_organization.container
    p.form-org-question
      blink
        | あなたが参加している Organization の一覧です。
        br/
        | iiirc では、あなたの投稿と Organization を結びつけることができます。
        br/
        | 結びつけるかどうかは、投稿するときに選ぶことができます。
        br/
        | 結びつけてもいい Organization にチェックを入れてください。
    = form_for @user do |f|
      = render "shared/error_messages", :target => @user
      ul.form-org-radiobox
        - @organizations.each do |org|
          li
            = f.check_box :organization_ids, { :checked => @user.organizations.include?(org), id: "user_organization_ids_#{org.id}", :name => 'user[organization_ids][]' }, org.id, ""
            = f.label "organization_ids_#{org.id}", org.login
      = f.submit "Sign up!", class: 'btn btn-blue btn-horizontal'
