<article class="snippet wrapper">
  <hgroup class="container">
    <h2 class="title">Transitted to <%= link_to @uri, @uri, id: 'transition' %> in <span id="remaining-time">12</span> seconds</h2>
  </hgroup>
  <div class="container">
    <% 39.times do |n| %>
      <%= image_tag "transition/#{n + 1}.gif", alt: 'loading...' %>
    <% end %>
  </div>
<article>
