$color-diff: 5;

$white: #f2f2f2;
$gray-light: #e0e0e0;
$gray: #999;
$gray-dark: #666;
$black: #333;

$red: #D04255;
$yellow: #F0BA32;
$green: #1DAF9E;
$blue: #1F91BE;
$purple: #C23685;

$red-light: lighten($red, $color-diff);
$red-dark: darken($red, $color-diff);
$blue-light: lighten($blue, $color-diff);
$blue-dark: darken($blue, $color-diff);
$green-light: lighten($green, $color-diff);
$green-dark: darken($green, $color-diff);
$yellow-light: lighten($yellow, $color-diff);
$yellow-dark: darken($yellow, $color-diff);
$purple-light: lighten($purple, $color-diff);
$purple-dark: darken($purple, $color-diff);
