@charset "UTF-8";
@import "link.css.scss";

$gap: 20px;

@mixin border-radius($size: small) {
  @if $size == small {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
      #{$prefix}border-radius: 5px;
    }
  } @else if $size == large {
	  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
      #{$prefix}border-radius: 10px;
    }
  }
}

html {
	font-size: $font-size;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	color: $font-color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: 1;
  letter-spacing: $letter-spacing;
}

a {
	@include link;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: normal;
}

p {
  margin-bottom: 0.5em;
}

.input-text,
.textarea {
  width: 100%;

	@include font(irc);
	border: 0;
	background-color: #333;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&.input-text-large {
  	font-size: $font-size-large;
	}
}

.textarea {
  height: 40em;
}

.btn {
	padding: 10px 1em !important;
	display: inline-block;
	text-align: center;

	color: #ffffff !important;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
	text-shadow: 0 -1px #909090;
	border: 0px solid #909090;
	cursor: pointer;

	/* default */
	background-color: #0060af;
	background: -webkit-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: -moz-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: -o-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);

  &.btn-red {
    background-color: $red;
  	background: -webkit-linear-gradient($red-light, $red 50%, $red 50%, $red-dark);
  	background: -moz-linear-gradient($red-light, $red 50%, $red 50%, $red-dark);
  	background: -o-linear-gradient($red-light, $red 50%, $red 50%, $red-dark);
  	background: linear-gradient($red-light, $red 50%, $red 50%, $red-dark);

  	&:hover { background: $red-dark; }
  }

  &.btn-yellow {
    background-color: $yellow;
  	background: -webkit-linear-gradient($yellow-light, $yellow 50%, $yellow 50%, $yellow-dark);
  	background: -moz-linear-gradient($yellow-light, $yellow 50%, $yellow 50%, $yellow-dark);
  	background: -o-linear-gradient($yellow-light, $yellow 50%, $yellow 50%, $yellow-dark);
  	background: linear-gradient($yellow-light, $yellow 50%, $yellow 50%, $yellow-dark);

  	&:hover { background: $yellow-dark; }
  }

  &.btn-green {
    background-color: $green;
  	background: -webkit-linear-gradient($green-light, $green 50%, $green 50%, $green-dark);
  	background: -moz-linear-gradient($green-light, $green 50%, $green 50%, $green-dark);
  	background: -o-linear-gradient($green-light, $green 50%, $green 50%, $green-dark);
  	background: linear-gradient($green-light, $green 50%, $green 50%, $green-dark);

  	&:hover { background: $green-dark; }
  }

  &.btn-blue {
    background-color: $blue;
  	background: -webkit-linear-gradient($blue-light, $blue 50%, $blue 50%, $blue-dark);
  	background: -moz-linear-gradient($blue-light, $blue 50%, $blue 50%, $blue-dark);
  	background: -o-linear-gradient($blue-light, $blue 50%, $blue 50%, $blue-dark);
  	background: linear-gradient($blue-light, $blue 50%, $blue 50%, $blue-dark);

  	&:hover { background: $blue-dark; }
  }

  &.btn-purple {
    background-color: $purple;
  	background: -webkit-linear-gradient($purple-light, $purple 50%, $purple 50%, $purple-dark);
  	background: -moz-linear-gradient($purple-light, $purple 50%, $purple 50%, $purple-dark);
  	background: -o-linear-gradient($purple-light, $purple 50%, $purple 50%, $purple-dark);
  	background: linear-gradient($purple-light, $purple 50%, $purple 50%, $purple-dark);

  	&:hover { background: $purple-dark; }
  }

  &:hover {
	  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33);
  }

  &.btn-horizontal {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.list {
  &.list-disc {
    margin-left: 24px;

    li {
      padding: 3px 0;
      list-style-type: disc;
    }
  }
}

.bubble {
  position: relative;
  padding: 6px 8px 8px;
  margin-bottom: 8px;
  text-align: left;
  line-height: 1;
  background-color: $green;
  
  &:after {
    content: "";
    position: absolute;
    left: 18px;
    bottom: -6px;
    width: 0;
    height: 0;
    margin-left: -6px;
    border-top: 6px solid $green;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}

::-webkit-input-placeholder {
	color: $white !important;
}
:-moz-placeholder {
	color: $white !important;
}

body {
  background-color: #2b2b2b;
}

.wrapper {
  width: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#header {
  padding: 12px 0;
  background-color: $green;

  #brand {
    float: left;
    width: 70px;
    height: 24px;
    display: block;

    a {
      width: 70px;
      height: 24px;
      display: block;
    }
  }

  #account_info {
    float: left;
    height: 24px;
    margin-left: 12px;
  }

  #notice,
  #alert {
    float: left;
    height: 24px;
    margin-left: 12px;
    line-height: 24px;
  }

  #notice {
    color: $white;
  }

  #alert {
    color: $red-dark;
  }

  #add-new-snippet {
    float: right;
    height: 24px;
    margin-left: 12px;
  }

  .btn {
    padding: 0 1em !important;
    height: 24px;
    line-height: 24px;
  }

  .avator {
    width: auto;
    height: 24px;
    display: block;
  }
}

.add_new_snippet {
  width: 240px;
  margin: 0 auto;
}

.signup_organization {
  width: 608px;
  padding: 16px;

  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.33);
}

.form-org-question {
  padding-top: 16px;

  font-size: 16px;
  line-height: 1.5;
}

.form-org-radiobox {
  padding-top: 8px;
  padding-bottom: 16px;

  font-size: 14px;
}

.social {
  padding-top: 16px;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  text-align: left;
  vertical-align: bottom;
}

.hatena {
  float: left;
  width: 62px;
  height: 30px;
  overflow: hidden;
}

.twitter {
  float: left;
  width: 100px;
  height: 30px;
  overflow:hidden;
}

.facebook {
  float: left;
  width: 115px;
  height: 25px;
  line-height: 20px;
  overflow: hidden;
}

#contents {
  padding: 12px 0;
}

#navigations {
  float: left;
  width: 150px;
  padding-top: 10px;
  margin-right: 20px;
  
  .navigation {        
    margin-bottom: 10px;
    
    .title {
      font-size: 12px;
      font-weight: bold;
    }
    
    .links {
      padding: 5px 0;
      background-color: $black;
      
      .link {
        position: relative;
        font-size: 12px;
        
        a {
          width: 134px;
          padding: 4px 8px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          color: $white;
        }
        
        a:after {
          content: "\0021d2";
          position: absolute;
          top: 0;
          right: 0;
          padding: 4px;
          display: none;
          color: $green;
        }
        
        &:hover a:after {
          display: block;
        }
      }
    }
  }
}

#content {
  float: left;
  width: 790px;
}

.article {
  position: relative;
  margin-bottom: 12px;

  .article-header {
    padding: 6px 12px;
  }

  .title {
    float: left;
    height: 24px;
    color: $white;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    display: block;

    a {
      color: $white;
    }
  }

  .user-icon {
    float: right;
    width: 24px;
    height: 24px;
    display: block;
  }

  .article-content {
    padding: 10px 12px;

    @include font(irc);
    background-color: $black;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.44);

    .tweet {
      margin-bottom: 0.15em;
    }

    .nick_0 { color: lighten(#066, 32) !important; }
    .nick_1 { color: lighten(#660, 32) !important; }
    .nick_2 { color: lighten(#606, 32) !important; }
    .nick_3 { color: lighten(#060, 32) !important; }
    .nick_4 { color: lighten(#600, 32) !important; }
    .nick_5 { color: lighten(#006, 32) !important; }
    .nick_6 { color: lighten(#036, 32) !important; }
    .nick_7 { color: lighten(#360, 32) !important; }
    .nick_8 { color: lighten(#603, 32) !important; }
    .nick_9 { color: lighten(#306, 32) !important; }
    .nick_10 { color: lighten(#063, 32) !important; }
    .nick_11 { color: lighten(#630, 32) !important; }

    .star {
      a {
        color: $yellow;
      }
    }

    .count {
			display:inline-block;
			margin-left:4px;
    }

    .starred-by-icon {
      width: 18px;
      height: 18px;
			display:inline-block;
			margin-left:4px;
    }
  }

  .embed_code {
    .input-text {
      color: $gray;
      font-size: 12px !important;
    }
  }

  .user-name, .organization-name {
    padding: 24px 0;
    color: $green;
    font-size: 24px;
  }
}

footer {
  padding: 24px 0;
  background-color: transparent !important;

  #copyrights {
    float: left;
    display: block;
  }

  #signout,
  #powered {
    float: right;
    display: block;
  }

  #powered {
    a {
      color: $font-color;
    }
  }
}

