.container.clear
  #content
    article.article.organization-profile.clearfix
      h2.organization-name= @organization.login
      h3 Members
      - @organization.users.each do |user|
        = link_to image_tag(user.gravatar_url, alt: user.username, class: 'avator'), user_path(user.username)
    - @snippets.each do |snippet|
      article.article.article-snippet
        hgroup.article-header.clear
          h2.title= link_to snippet.title, snippet
          p= link_to image_tag(snippet.user.gravatar_url(size: 48), alt: snippet.user.username, class: 'user-icon'), user_path(snippet.user)
        .article-content
          = render 'snippets/snippet', snippet: snippet
  = paginate @snippets
