<!DOCTYPE html>
<html>
<head>
  <title>iiirc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="wrapper">
    <h1 id="brand">
      <a href="/">iiirc</a>
    </h1>
  </header>
  <div class="wrapper">
    <%= yield %>
  </div>
  <footer id="footer" class="wrapper">
    &copy; IIIRC
  </footer>
</body>
</html>
